BasedOnStyle: Google
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
ColumnLimit: 140
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
PointerAlignment: Right
SortIncludes: true
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
